<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epicodus.jobhunt">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.">
        <activity android:name=".companyDetailActivity"></activity>
        <activity
            android:name=".ui.Login"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.chatActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.displayAllJobs"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.searchByJob"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.searchByCompany"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.jobSearch"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6291199528234939~3659960798" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.HomeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.signUp"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.splashScreen"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>